@model project.Models.DTO.QuizzDTO
@using project.Models.DTO
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Assets/admin/quizz/css/style.css")

@Styles.Render("~/Assets/admin/quizz/css/Exam.css")

<div class="list_background">
    <div class="title__page" onclick="window.location.href = '@Url.Content("~/Quizz/Course")'">
        <div class="title__arrow right"></div>
        <h2>Exam</h2>
    </div>
    <div class="list__container" id="lstExam">
        <div class="clock" id="clock">
        </div>
        <div class="start__exam bounding" id="start__exam" onclick="startExam('@Model.Id', '@Model.time')">
            <span>Start</span>
        </div>
        <div class="quizz__overview">
            <div class="row quizz_name">
                <span class="over__des"><i class="fas fa-puzzle-piece"></i></span>
                <span>Name: @Model.Name</span>
            </div>
            <div class="row quizz__des">
                <span class="over__des"><i class="far fa-sticky-note"></i></span>
                <span>Desciption: @Model.Describtion</span>
            </div>
            <div class="row ques__count">
                <span class="over__des"><i class="far fa-question-circle"></i></span>
                <span>Questions: @Model.NumberQuestion</span>
            </div>
            <div class="row overview__level" id="level">
                <span class="over__des"><i class="fas fa-layer-group"></i></span>
                <span>Level: </span>
                <div class="quizz__level" title="Level @Model.Level" id="l-@Model.Level">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                </div>
            </div>
            <div class="row quizz__time" id="timer">
                <span class="over__des"><i class="far fa-hourglass"></i></span>
                <span id="t-@Model.time">Time: @Model.time h</span>
            </div>
        </div>
        <div class="main-carousel">
        </div>
        <div class="submit__button" onclick="submitExam(@ViewBag.quizzId)">
            <span>Finish Quizz</span>
        </div>
      
    </div>


</div>


@Scripts.Render("~/Assets/admin/quizz/js/Exam.js")



