@model IEnumerable<project.Models.DTO.QuizzDTO>
@using project.Models.DTO
@{
    ViewBag.Title = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Assets/admin/quizz/css/style.css")
@Styles.Render("~/Assets/admin/quizz/css/lesson.css")

<div class="list_background">
    <div class="title__page" onclick="window.location.href = '@Url.Content("~/Quizz/Lesson/"+ViewBag.subjectId+"/"+ViewBag.lessonId)'">
        <div class="title__arrow right"></div>
        <h2>Subject</h2>
    </div>
    <div class="list__container" id="lstQuizz">
        @foreach (QuizzDTO item in Model)
        {
            <div class="item__quizz" id="@item.Id-@item.Level-quizz-@ViewBag.lessonId" onclick="moveToExam(this)">
                <div class="quizz__image">
                    <img src="@Url.Content("~/Assets/images/quizz/quizz_default.png")" />
                </div>
                <div class="quizz__infor">
                    <div class="quizz__header">
                        <div class="quizz__name">
                            <h1>@item.Name</h1>
                        </div>
                        <div class="quizz_num_ques">
                            <span>Question: @item.NumberQuestion</span>
                        </div>
                    </div>
                    <div class="quizz__des">
                        <p>
                            @item.Describtion
                        </p>
                    </div>
                    <div class="quizz__time"><span><i class="fas fa-clock"></i></span> @item.time h</div>
                    <div class="quizz__level" title="Level @item.Level">
                        <span class="circle"></span>
                        <span class="circle"></span>
                        <span class="circle"></span>
                        <span class="circle"></span>
                        <span class="circle"></span>
                    </div>
                </div>
            </div>
        }
    </div>


</div>


@Scripts.Render("~/Assets/admin/quizz/js/util.js")

