@model project.Models.Course

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">*@
@Styles.Render("~/Assets/admin/quizz/css/style.css")
@Styles.Render("~/Assets/admin/quizz/css/lesson.css")
@Styles.Render("~/Assets/admin/course/css/course.css")
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<body>
    <div class="list_background">
        <div class="title__page" onclick="window.location.href = '@Url.Content("~/Quizz/Course")'">
            <div class="title__arrow right"></div>
            <h2 style="font-size:24px">Courses for you</h2>
        </div>
        <div class="list__container" id="lstQuizz">
            @foreach (var item in ViewBag.courses)
            {
                <div class="item__quizz" id="@item.Id-quizz-@ViewBag.lessonId" onclick="window.location.href='/Subject/Subject?CurrentCourseId=@item.Id'">
                    <div class="quizz__image">
                        <img src="@Url.Content(item.Image)" />
                    </div>
                    <div class="quizz__infor">
                        <div class="quizz__header">
                            <div class="quizz__name">
                                <h1>@item.Name</h1>
                            </div>
                         
                        </div>
                        <div class="quizz__des">
                            <p>
                                @item.Describtion
                            </p>
                        </div>
                        <div class="rating__star">
                            @*<img src="@Url.Content("~/Assets/images/rating-star-active.png")"/>*@
                            <div class="star__active" style="width:@item.rate%;"></div>
                            <img src="@Url.Content("~/Assets/images/rating-star.png")" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
@Scripts.Render("~/Assets/admin/quizz/js/util.js")





