@model project.Models.Lession

@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Assets/admin/quizz/css/style.css")

@Styles.Render("~/Assets/admin/course/css/cl.css")
<div class="cl_box">
    <div class="title__page" onclick="window.location.href = '@Url.Content("~/Course/Course")'">
        <div class="title__arrow right"></div>
        <h2>Lesson</h2>
    </div>
    @foreach (var item in ViewBag.contents)
    {
        <div class="cl_content">
            <h2>@item.Name</h2>
            <p>
                @item.Content
            </p>
        </div>
        <div class="cl_video"><iframe width="560" height="315" src=@item.Url title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    }
</div>
