@model IEnumerable<project.Models.Subject>
@using PagedList.Mvc
@using PagedList
@using project.Models

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagedList = (IPagedList)Model;
}
@Styles.Render("~/Assets/admin/quizz/css/style.css")
@Styles.Render("~/Assets/admin/quizz/css/lesson.css")
@Styles.Render("~/Assets/admin/course/css/course.css")
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<div class="list_background">
    <div class="title__page" onclick="window.location.href = '@Url.Content("~/Quizz/Course")'">
        <div class="title__arrow right"></div>
        <h2 style="font-size:20px">Subjects in this course</h2>
    </div>
    <div class="list__container" id="lstQuizz">
        @foreach (Subject item in Model)
        {
            <div class="item__quizz" id="@item.Id-subject" onclick="window.location.href='/Lesson/Lesson?CurentSubjectId=@item.Id'">
                <div class="quizz__image">
                    <img src="@Url.Content(item.Image)" />
                </div>
                <div class="quizz__infor">
                    <div class="quizz__header">
                        <div class="quizz__name">
                            <h1>@item.Name</h1>
                        </div>

                    </div>
                    <div style="margin: 10px">

                        @for (int i = 0; i < @item.Rate; i++)
                        {
                            <i class='fas fa-star' style='font-size:20px; color: #FBDA00;'></i>
                        }
                        @using (Html.BeginForm("Subject", "Subject", FormMethod.Post))
                        {
                            <div>
                                <input name="subjecId" type="hidden" value="@item.Id"/>
                                <input name="new_rating_star" type="radio" class="rating_star" value="1" />
                                <input name="new_rating_star" type="radio" class="rating_star" value="2" />
                                <input name="new_rating_star" type="radio" class="rating_star" value="3" />
                                <input name="new_rating_star" type="radio" class="rating_star" value="4" />
                                <input name="new_rating_star" type="radio" class="rating_star" value="5" />
                            </div>
                            <br />
                            <input type="submit" value="submit rate star">
                        }
                    </div>
                    <div class="rating__star">
                        @*<img src="@Url.Content("~/Assets/images/rating-star-active.png")"/>*@
                        <div class="star__active" style="width:@item.Rate%;"></div>
                        <img src="@Url.Content("~/Assets/images/rating-star.png")" />
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.PagedListPager(pagedList, page => Url.Action("Subject",
new { page, CurrentCourseId = ViewBag.id }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5,
    LiElementClasses = new string[] { "page-item" },
})
</div>





